[submodule "blog"]
	path = blog
	url = https://github.com/SujalChoudhari/blog
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/SujalChoudhari/PortfolioNew
[submodule "art-gallery"]
	path = art-gallery
	url = https://github.com/SujalChoudhari/ArtGallery
[submodule "fs"]
	path = fs
	url = https://github.com/SujalChoudhari/fs
[submodule "rabbit-rss"]
	path = rabbit-rss
	url = https://github.com/SujalChoudhari/RabbitRSS
[submodule "resumeredo"]
	path = resumeredo
	url = https://github.com/SujalChoudhari/ResumeRoast2
