[submodule "blog"]
	path = blog
	url = https://github.com/SujalChoudhari/blog
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/SujalChoudhari/PortfolioNew
[submodule "roastresume"]
	path = roastresume
	url = https://github.com/SujalChoudhari/ResumeRoast
[submodule "art-gallery"]
	path = art-gallery
	url = https://github.com/SujalChoudhari/ArtGallery
[submodule "fs"]
	path = fs
	url = https://github.com/SujalChoudhari/fs
	
[submodule "repo-tracker"]
	path = repo-tracker
	url = https://github.com/SujalChoudhari/GHRepoTracker